html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
  
}

.slick-slide {
  max-height: 300px;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.carousel {
  max-height:350px;
}

.carousel img {
  height: 350px;
}

.warning-text {
  color: var(--bs-orange);
}